- if @listings.empty?
    Sorry, no listings for this release :/
- else
    %ul
        - @listings.each do |listing|
            %li
                = listing[:condition_sleeve]
                = listing[:seller]
                = listing[:ships_from]
                = listing[:price]